<?xml version="1.0" encoding="utf-8"?>
<!-- Makes the build independent of the machine's NuGet setup: always restore from nuget.org. -->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
